.categories {
  padding: 6rem 3rem 1rem 5rem;
  color: var(--text-color-primary);
  background-color: var(--background-color);
  position: fixed;
  z-index: 1;
  width: 100vw;
}

.gap-large {
  gap: 2rem;
}

.rec.rec-swipable{
  gap: 1.5rem;
}

.rec.rec-item-wrapper {
  width: max-content !important;
}

.category-color {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.item {
  cursor: pointer;
  font-size: .875rem;
  padding: 8px 10px;
  border-radius: 2rem;
}

.border-bottom {
  border-bottom: 1px solid var(--text-color-primary);
}

.button.btn-filter {
  padding: 8px 1rem;
  border-radius: 2rem;
  border: 1px solid var(--accent-color);
  align-self: flex-start;
}

.btn-filter:hover,
.btn-category:hover {
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.1);
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}

.rec.rec-arrow {
  width: 1.5rem;
  height: 1.5rem;
  min-width: 1.5rem;
  line-height: 1.5rem;
  font-size: 1rem;
}
